<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>matsuko_web</title>
</head>
<body>
    <header>
		<h1>matsuko_web</h1>
		<nav>
			<ul>
                <li><a href="/" class="btn btn-dark">ホーム</a></li>
				<li><a href="login" class="btn btn-dark">ログイン</a></li>
				<li><a href="signup" class="btn btn-dark">新規登録</a></li>
				<li><a href="logout" class="btn btn-dark">ログアウト</a></li>
			</ul>
		</nav>
	</header>
{% block content %}
{% endblock %}
    <footer class="footer">
        <div class="fotter_logo"></div>
    </footer>
</body>
</html>